numpy>=1.21.5
opencv-contrib-python-headless>=4.5.4.60,<=4.11.0.86
# Swap out the headless opencv above for the following
# headed versions if you want to run the demo
# opencv-contrib-python>=4.5.4.60,<=4.11.0.86
# opencv-python>=4.5.4.60,<=4.11.0.86
scikit-image>=0.19.2,<=0.25.1
scikit-learn>=1.0.2,<=1.6.1
git+https://github.com/drufat/triangle.git#20230923

Sphinx==4.4.0
sphinx-rtd-theme==1.0.0
